body{
	
	font-size: 14px;
	font-family: "microsoft yahei";
	background-color: #EFF3F5;
}

#logo{
	font-size: 22px;
	font: "arial black";
	font-weight: bold;
	color: #00aaff;
}

.nav-item{
	width: 90px;
	margin-right: 0;
	font-size: 16px;
}
.nav-item:hover{
	color: #00AAFF;
}

.carousel{
	
	margin-top:60px;
	width: auto;
}
h1{
	margin-left: 150px;
	
}
.row{
	margin-left: 150px;
	margin-right: 150px;
}

.table{
	width: 300px;
   position: absolute;
   top: 100px;
   left: 250px;
  z-index: 999;
  background: rgba(255,255,255,0.5);
  font-size: 14px;
  border-radius: 15px;
}
td{
	position: relative;
	top: 10px;
}
.card{
	border-radius: 20px;
}

#icon1{
	padding-right: 10px;
	padding-left: 10px;
}
#ziti1{
	font-size: 18px;
	position: relative;
	left: 40px;
	font-family: "microsoft yahei";
}
#ziti2{
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #00aaff;
	
}
.accordion{
	width: 1500px;
	border-radius: 30px;
	margin-left: 15px;
	margin-right: 5px;
}


#bo{
	margin-left: 150px;
	margin-right: 150px;
	border-radius: 20px;
	background-color: white;
	width: 1550px;
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
.btn{
	
	position: relative;
	left: 3.125rem;
}
.card-title{
	align-items: center;
}
.nav-link.active{
	color: #00AAFF;
	font-size: 18px;
}
#keercard{
	margin-top: 90px;
	margin-left: 200px;
	margin-right: 200px;
}
#list-example{
	width: 150px;
	position: fixed;
	top: 11rem;
	left: 50px;
	z-index: 999;
}

#keercard1{
	
	margin-left: 200px;
	margin-right: 200px;
}

#list-item-2{
	margin-left: 200px;
}
#list-item-3{
	margin-left: 200px;
}
video{
	margin: 0 auto;
	margin-top: 20px;
}
#list-item-4{
	margin-left: 200px;
}
#list-item-5{
	margin-left: 200px;
}
#list-item-6{
	margin-left: 200px;
}